@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format ("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format ("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format ("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700") format ("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 15px 8px 15px;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.basic-button {
  background-color: #756157;
}

.additional-button {
  background-color: #82B3D3;
}

.button-searched {
  background-color: #7DB54F;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button:disabled:hover {
  background-color: #E5E5E5;
  outline: none;
  cursor: default;
}

.basic-button:hover, .basic-button:focus {
  background-color: #615048;
  outline: none;
}
.additional-button:hover, .additional-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-searched:hover, .button-searched:focus {
  background-color: #6C9E42;
  outline: none;
}

/* containers */

.body-container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Header */

.page-header {
  color: 000000;
  background-color: #ffffff;
  margin: 0px 70px;
}

.navigation {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.logo-full {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 169px;
  list-style-type: none;
}

.navigation-user {
  flex-shrink: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: -1px;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.navigation-link-favorite {
  position: relative;
}

.navigation-link-favorite::before {
  position: absolute;
  content: "12";
  width: 20px;
  height: 20px;
  left: 24px;
  top: 15px;
  right: 2px;
  bottom: 31px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  z-index: 2;
}

.hotel-search-button-header {
  margin-left: 20px;
  margin-top: 14px;
  width: 160px;
}

/* Logo */

.logo-container {
  background-color: #82B3D3;
  background-image: url("../images/index-background-divider.svg"),
  url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom, top;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Slogan */

.slogan-container {
  padding: 0;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 90px;
}

.slogan {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 383px;
}

.advantages-item-container {
  min-width: 230px;
  padding: 103px 85px;
}

.advantages-item-image {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-image-container {
  min-width: 230px;
  padding: 92px 85px;
}

.advantages-item:nth-of-type(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-of-type(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  padding: 0;
  margin: 0;
  color: #333333;
}

.advantages-number {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-image {
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-image {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #ffffff;
}

.advantages-item-icons {
  min-width: 230px;
  padding: 80px 85px;
}

.advantages-title-icons {
  margin-top: 110px;
}

.advantages-item-house {
  background: url("../images/house.svg") no-repeat 161px 81px;
}

.advantages-item-food {
  background: url("../images/food.svg") no-repeat 161px 81px;
}

.advantages-item-gift {
  background: url("../images/gift.svg") no-repeat 165px 81px;
}

/* Hotel-search */

.hotel-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-text {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-search-button {
  width: 574px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

.subscribe-index {
  padding: 94px 0;
  background: #83B3D3 url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

/* Subscribe-inner */

.subscribe-form {
  display: block;
  width: 600;
  padding: 0;
  margin: 0;
}

.subscribe-inner {
  margin: 0;
  padding: 94px 0;
  background-color: #ffffff;
  text-align: center;
}

.subscribe-inner .subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: #000000;
}

.subscribe-inner .subscribe-text {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  color: #333333;
}

.subscribe-inner .subscribe-form {
  margin: 0;
  padding: 0;
}

/* Footer */

.contacts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 45px 70px 35px 70px;
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0;
  padding: 0;
  min-width: 116px;
  list-style-type: none;
}

.contacts-link {
  display: block;
  position: relative;
  width: 48px;
  height: 40px;
  fill: #83B3D3;
}

.contacts-link-icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contacts-link:hover, .contacts-link:focus {
  fill: #68A2CA;
}

.contacts-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  padding: 0;
  margin: 0;
  width: 720px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover, .contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  padding: 0;
  margin: 0;
  width: 115px;
}

.htmlacademy-link:hover, .htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Inner-header */

.main-inner-container {
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background: #83B3D3 url("../images/inner-heder-background.jpg") no-repeat;
  background-size: 100% auto;
}

.inner-header {
  width: 495px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
  font-size: 16px;
}

.breadcrumbs-link-index {
  display: block;
  padding-top: 1px;
  fill: #fff;
}

.breadcrumbs-link-index:hover, .breadcrumbs-link-index:active {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover, .breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-current {
  display: block;
  margin-left: 16px;
}

.breadcrumbs-item:not(.breadcrumbs-item:first-of-type)::after {
  position: absolute;
  content:'';
  display: block;
  width: 6px;
  height: 9px;
  top: 5px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

/* Catalog-filter*/

.catalog-filter {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.button-submit {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 160px;
}

.button-reset {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  font-weight: 400;
  text-transform: none;
  background-color: rgba(104, 162, 202, 0);
  border: 3px solid rgba(104, 162, 202, 0);
}

.button-reset:hover, .button-reset:active {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.content-container {
  margin-top: 5px;
  padding: 50px 70px 25px 72px;
}

/* Sorting hotel-cards */

.hotel-sorting {
  display: flex;
  width: 1057px;
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
  justify-content: space-between;
  align-items: center;
}

.hotel-sorting-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  display: block;
  min-width: 287px;
  min-height: 48px;
}

.button-show {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 8px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #E5E5E5;
  background-color: #ffffff;
  cursor: pointer;
}

.card-grid-toggle:hover {
  border: solid 2px #000;
}

.card-grid-toggle:focus {
  border: solid 2px #68A2CA;
  outline: none;
}

.card-grid-toggle-current {
  cursor: default;
  border: solid 2px #000;
}

/* Cards */

.hotel-list {
  display: grid;
  column-gap: 18px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
  width: 1056px;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.hotel-card:nth-of-type(3n) {
  padding-right: 0;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-image {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  object-fit: contain;
}

.hotel-card-title {
  margin-bottom: 16px;
}

.hotel-card-content{
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-type, .hotel-card-price {
  color: #333333;
}

.stars-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px;
  background-repeat: no-repeat;
}

.stars-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px, 48px 10px;
  background-repeat: no-repeat;
}

.stars-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px;
  background-repeat: no-repeat;
}

.hotel-card-grade {
  display: block;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #333333;
  background-color: #F2F2F2;
}

.hotel-card-link {
  text-decoration: none;
}

/* Pagination */

.pagination-amount-control {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pagination-amount-control::after {
  position: absolute;
  content: "";
  padding: 0;
  margin: 0;
  width: 1055px;
  bottom: 115px;
  border: 1px solid #E6E6E6;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):active {
  color: rgba(255, 255, 255, 0.3);
}

.amount-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  margin-left: auto;
}

.text-amount-control {
  margin: 0;
  padding: 0;
}

.select-amount-control {
  min-width: 160px;
  min-height: 48px;
}
