/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 2% and last 1 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 15px 8px 15px;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.basic-button {
  background-color: #756157;
}

.additional-button {
  background-color: #82b3d3;
}

.button-searched {
  background-color: #7db54f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.button:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.basic-button:hover,
.basic-button:focus {
  background-color: #615048;
  outline: none;
}

.additional-button:hover,
.additional-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-searched:hover,
.button-searched:focus {
  background-color: #6c9e42;
  outline: none;
}

/* containers */

.body-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Header */

.page-header {
  color: 000000;
  background-color: #ffffff;
  margin: 0 70px;
}

.navigation {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.logo-full {
  position: absolute;
  padding: 0;
  margin: 0;
}

.navigation-logo:not(.current):hover,
.navigation-logo:not(.current):focus {
  position: absolute;
  width: 139px;
  height: 66px;
  background-color: rgba(242, 242, 242, 0.5);
}

.navigation-logo:not(.current):active {
  position: absolute;
  background-color: rgba(242, 242, 242, 1);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 169px;
  list-style-type: none;
}

.navigation-user {
  align-items: flex-start;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-link:not(.navigation-link-current):hover,
.navigation-link:not(.navigation-link-current):focus {
  color: #756157;
}

.navigation-link:not(.navigation-link-current):active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: -1px;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon:hover,
.navigation-icon:focus {
  fill: #756157;
}

.navigation-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link-favorite {
  position: relative;
}

.navigation-link-favorite::before {
  position: absolute;
  content: "12";
  width: 20px;
  height: 20px;
  left: 24px;
  top: 15px;
  right: 2px;
  bottom: 31px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  z-index: 2;
}

.hotel-search-button-header {
  margin-left: 20px;
  margin-top: 14px;
  width: 160px;
}

/* Logo */

.logo-container {
  background-color: rgba(131, 179, 211, 0.6);
  background-image: url("../images/index-background-divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom, top;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Slogan */

.slogan-container {
  padding: 0;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 90px;
}

.slogan {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.advantages-item-image {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-image-container {
  min-width: 230px;
  padding: 93px 84px 90px;
}

.advantages-item-icons {
  min-width: 230px;
  padding: 79px 85px;
}

.advantages-item:nth-of-type(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-of-type(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  padding: 0;
  margin: 0;
  color: #333333;
}

.advantages-number {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-image {
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-image {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #ffffff;
}

.advantages-title-icons {
  margin-top: 105px;
}

.advantages-item-house {
  background: url("../images/house.svg") no-repeat;
  background-position: top 80px center;
}

.advantages-item-food {
  background: url("../images/food.svg") no-repeat;
  background-position: top 81px center;
}

.advantages-item-gift {
  background: url("../images/gift.svg") no-repeat;
  background-position: top 78px center;
}

.advantages-item-container {
  min-width: 230px;
  padding: 103px 84px 100px 84px;
}

/* Hotel-search */

.hotel-search {
  text-align: center;
  padding: 93px 0;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-text {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.hotel-search-button {
  margin: 20px;
  margin-bottom: 0;
  width: 574px;
  padding: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.subscribe-button {
  min-width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 10px 10px 0;
}

.subscribe-index {
  padding: 95px 0 94px;
  background-color: rgba(131, 179, 211, 0.8);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

/* Subscribe-inner */

.subscribe-form,
.subscribe-inner .subscribe-form {
  display: flex;
  width: 800px;
  padding: 0;
  margin: 0 auto;
}

.subscribe-inner {
  margin: 0;
  padding: 93px 0;
  background-color: #ffffff;
  text-align: center;
}

.subscribe-inner .subscribe-title {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  color: #000000;
}

.subscribe-inner .subscribe-text {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  color: #333333;
}

/*Form*/

.field {
  box-sizing: border-box;
  padding: 15px 19px 14px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form .field {
  flex-grow: 1;
  height: 60px;
  padding: 20px 21px;
  margin: 0;
  font: inherit;
  font-weight: 400;
  border-radius: 10px 0 0 10px;
}

.field:focus:not(placeholder-shown) {
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}

.field:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.field:hover:placeholder-shown {
  background-color: #e6e6e6;
}

.field:focus:placeholder-shown {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

/* Footer */

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 45px 70px 35px 70px;
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0;
  padding: 0;
  min-width: 116px;
  list-style-type: none;
}

.contacts-link {
  display: block;
  position: relative;
  width: 48px;
  height: 40px;
  fill: #83b3d3;
}

.contacts-link-icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contacts-link:hover,
.contacts-link:focus {
  fill: #68a2ca;
  outline: none;
}

.contacts-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  padding: 0;
  margin: 0;
  width: 720px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  padding: 0;
  margin: 0;
  width: 115px;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 56px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-title {
  margin: 0 0 64px -2px;
  padding: 0;
  max-width: 500px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.appointment-form {
  display: grid;
  grid-template-columns: 155px 133px 155px 133px;
  margin-bottom: 40px;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-form-date {
  grid-column: 1 / -1;
}

.appointment-date {
  grid-column: 2 / -1;
  position: relative;
  box-sizing: border-box;
  min-width: 420px;
  margin: 0;
  padding-right: 50px;
}

.calendar {
  position: absolute;
  right: 72px;
  width: 50px;
  height: 47px;
  padding-top: 2px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.3);
}

.calendar:hover {
  background-color: #e6e6e6;
  fill: #000000;
}

.calendar:active {
  box-shadow: 0 0 0 2px #000000;
  background-color: #ffffff;
  fill: #000000;
}

.field:hover .calendar:hover {
  background-color: #000000;
}

.calendar:focus {
  fill: #000000;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 2px;
  outline: none;
}

.appointment-form-adults {
  grid-column: 1 / 3;
}

.appointment-form-children {
  grid-column: 3 / -1;
}

.appointment-form-children .form-label {
  margin-left: 56px;
}

.form-label {
  max-width: 200px;
}

.modal .appointment-people {
  margin: 0;
  box-sizing: border-box;
  padding: 16px 40px 13px;
  grid-area: 1 / 1 / 2 / 4;
  width: 133px;
  height: 50px;
  text-align: center;
}

.appointment-people-container {
  display: grid;
  grid-template-columns: 39px 55px 39px;
  grid-template-rows: 13px 25px 12px;
  margin-left: auto;
}

.appointment-people-button {
  grid-row: 2 / 3;
  padding: 6px;
  border: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.3);
}

.appointment-people-button:focus {
  fill: #000000;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.appointment-people-button:hover,
.appointment-people-button:active {
  fill: #000000;
}

.button-minus {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.button-plus {
  grid-column: 3 / -1;
  display: flex;
  align-items: center;
}

.appointment-people::-webkit-outer-spin-button,
.appointment-people::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.appointment-people[type="number"] {
  -moz-appearance: textfield;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  grid-column: 2/-1;
  margin: 8px 0 11px 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.success {
  grid-column: 2/-1;
  margin: 7px 0 11px 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.modal input::placeholder {
  color: #000000;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  position: absolute;
  top: 2px;
  left: 6px;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: help;
}

.tooltip-toggle:hover,
.tooltip-toggle:active {
  background-color: #68a2ca;
}

.tooltip-toggle:focus {
  background-color: #68a2ca;
  outline: none;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 43%;
  transform: translateX(-43%);
  width: 256px;
  margin-top: 16px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 20px 22px;
  border-radius: 10px;
  background-color: #333333;
  color: #ffffff;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  top: -6px;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
  content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 25px;
}

.modal-search-button {
  width: 575px;
  padding: 12px 26px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.modal-search-button:focus {
  border: 3px solid #756257;
}

.modal-search-button:active {
  border: none;
}

.modal-container-close {
  display: none;
}

/* Inner-header */

.main-inner-container {
  display: block;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  padding-bottom: 68px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.6);
  background-image: url("../images/inner-heder-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
  font-size: 16px;
}

.breadcrumbs-link-index {
  display: block;
  padding-top: 1px;
  padding-left: 2px;
  fill: #ffffff;
}

.breadcrumbs-link-index:hover,
.breadcrumbs-link-index:active {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:not(.breadcrumbs-link-current):hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:not(.breadcrumbs-link-current):active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-current {
  display: block;
}

.breadcrumbs-item:not(:first-of-type)::after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 9px;
  top: 6px;
  left: -16px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

/* Catalog-filter*/

.fieldset-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.fieldset-container:last-of-type {
  margin-left: auto;
}

.catalog-filter {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
}

.catalog-filter-group:first-of-type {
  margin-right: 70px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 1px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

.control-mark,
.control-mark-radio {
  position: absolute;
  left: 2px;
  top: -1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-mark:hover,
.control-mark:active {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}

.control:focus-within .control-mark,
.control:focus-within .control-mark-radio {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-image: url("../images/mark.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark-radio {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

/* Range */

.range {
  margin-top: 3px;
}

.range-input {
  width: 45px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.range-input:focus {
  outline: none;
}

.range-input::placeholder {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}

.range-wrapper {
  display: flex;
}

.range-wrapper-inputs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 145px;
  min-height: 48px;
  padding: 13px 15px 11px 16px;
  font: inherit;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.range-wrapper-inputs:last-of-type {
  margin-left: -2px;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.range-wrapper-inputs:focus-within {
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  outline: none;
}

.range-wrapper-inputs:active {
  background-color: #756257;
}

.range-wrapper-inputs:first-of-type:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px 0 0 4px;
}

.range-wrapper-inputs:last-of-type:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0 4px 4px 0;
}

.range-scale {
  width: 288px;
  position: relative;
  top: 28px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  border-radius: 5px;
  outline: none;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  border-radius: 5px;
  outline: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* Filter-buttons */

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit {
  padding: 15px;
  width: 160px;
}

.button-reset {
  width: 66px;
  padding: 0;
  margin: 0;
  margin-left: 48px;
  margin-top: 20px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

.button-reset:hover,
.button-reset:active {
  opacity: 0.6;
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.content-container {
  padding: 55px 70px 25px 73px;
}

/* Sorting hotel-cards */

.hotel-sorting {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  min-height: 49px;
  padding: 0;
  margin-bottom: 56px;
}

.hotel-sorting-title {
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* Select */

.select:hover,
.select:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select:active {
  border: 2px solid #3f5e72;
}

.select:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.select:disabled svg {
  fill: rgba(0, 0, 0, 0.3);
}

.select-control {
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}

.select-sorting-type {
  width: 290px;
  margin-left: auto;
  margin-right: 78px;
  overflow-x: hidden;
}

.button-show {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
  cursor: pointer;
}

.card-grid-toggle:hover {
  border: solid 2px #000000;
}

.card-grid-toggle:focus {
  border: solid 2px #68a2ca;
  outline: none;
}

.card-grid-toggle-current {
  cursor: default;
  border: solid 2px #000000;
}

/* Cards */

.hotel-list {
  position: relative;
  display: grid;
  column-gap: 18px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
  width: 1056px;
  list-style-type: none;
}

.hotel-list::after {
  position: absolute;
  content: "";
  width: 1055px;
  bottom: -66px;
  border: 1px solid #e6e6e6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.hotel-card:nth-of-type(3n) {
  padding-right: 0;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-image {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.stars-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px;
  background-repeat: no-repeat;
}

.stars-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px, 48px 10px;
  background-repeat: no-repeat;
}

.stars-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px;
  background-repeat: no-repeat;
}

.hotel-card-grade {
  display: block;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #333333;
  background-color: #f2f2f2;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-link:hover .hotel-card-title {
  color: #756157;
}

.hotel-card-link:active .hotel-card-title {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-link:focus .hotel-card-title {
  border: 2px solid #82b3d3;
}

/* Pagination */

.pagination-amount-control {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: table-cell;
  height: 60px;
  min-width: 60px;
  max-width: 100px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 2px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:not(.pagination-current):active {
  color: rgba(255, 255, 255, 0.3);
}

.amount-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.text-amount-control {
  margin: 0;
  padding: 0;
  max-width: 200px;
  margin-right: 51px;
}

.select-amount {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
}

.select-amount-control {
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
}
